[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake
