[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "klein"]
	path = klein
	url = https://github.com/jeremyong/klein
